<div class="request-modal">
  <h4>{{ thing.name }}</h4>

  <div class='machine-controls'>
    <form>

      <div class="form-group">
        <div class='calendar-container'>
          <div 
            ui-calendar="uiConfig.calendar"
            ng-model="eventSources"></div>
        </div>
      </div>

      <div class="form-group inline-block">
        <button
          ng-click="$close()"
          class="btn btn-xsm btn-danger" 
          id="cancel"> </button>
      </div>

      <div 
        ng-show="validRequestDate"
        class="form-group inline-block">
        <button
          ng-click="sendRequest(); $close()"
          type="submit"
          class="btn btn-xsm btn-pay"> </button>
      </div>

    </form>
  </div>
</div>
