<div class="add-machine-modal">
  <form class="thing-form">
    <h4>Add a Washspot</h4>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="new thing name"
        ng-model="newThing.name">
    </div>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="address"
        ng-model="newThing.address_1">
    </div>

<!--
    <div class="input-group">
      <label for="volume">Volume</label>
      <input 
        type="range"
        class="form-control input-sm" 
        id="volume"
        min=1
        max=20
        step=1
        ng-model='newThing.volume'>
    </div>
-->

    <div class="input-group">
      <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group"><button type="button" class="btn btn-default">4kg</button></div>
        <div class="btn-group" role="group"><button type="button" class="btn btn-default">8kg</button></div>
        <div class="btn-group" role="group"><button type="button" class="btn btn-default">12kg</button></div>
        <div class="btn-group" role="group"><button type="button" class="btn btn-default">16kg</button></div>
      </div>
    </div>

    <div class="input-group">
      <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group"><button type="button" class="btn btn-default">A++</button></div>
        <div class="btn-group" role="group"><button type="button" class="btn btn-default">A+</button></div>
        <div class="btn-group" role="group"><button type="button" class="btn btn-default">A</button></div>
        <div class="btn-group" role="group"><button type="button" class="btn btn-default">B</button></div>
        <div class="btn-group" role="group"><button type="button" class="btn btn-default">C</button></div>
      </div>
    </div>

    <div class="checkbox1"><input type="checkbox" id="extra1" /><label for="extra1">1</label></div>
    <div class="checkbox2"><input type="checkbox" id="extra2" /><label for="extra2">2</label></div>
    <div class="checkbox3"><input type="checkbox" id="extra3" /><label for="extra3">3</label></div>
    <div class="checkbox4"><input type="checkbox" id="extra4" /><label for="extra4">4</label></div>

    <div class="input-group">
        <button 
          type="submit" 
          class="btn btn-xsm btn-primary" 
          ng-click="addThing()"> </button>
        <button 
          class="btn btn-xsm btn-danger" 
          ng-click="cancel()"> </button>
    </div>
  </form>
</div>

