<div ng-include="'components/navbar/navbar.html'"></div>

<!--
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>CoWash</h1>
  </div>
</header>
-->

<div class="container">
  <ui-gmap-google-map 
    center='map.center' 
    options='map.options'
    events='map.events'
    control='map.control'
    zoom='map.zoom'>

    <!-- map markers -->
    <ui-gmap-markers
      models='mapMarkers.results'
      coords="'coords'"
      click="'click'"
      icon="'icon'"
      options="'options'">
    </ui-gmap-marker>

    <ui-gmap-map-control
      template="app/main/map-bottom-center-controls.html" 
      position="bottom-center" 
      controller="MainCtrl" 
      index="-1"></ui-gmap-map-control>

    <ui-gmap-map-control 
      template="app/main/map-bottom-controls.html" 
      position="right-bottom" 
      controller="MainCtrl" 
      index="-1"></ui-gmap-map-control>

    <ui-gmap-map-control 
      template="app/main/map-top-controls.html" 
      position="left-bottom" 
      controller="MainCtrl" 
      index="-1"></ui-gmap-map-control>
  </ui-gmap-google-map>

  <div class="col-lg-12">
    <ul 
      class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" 
      ng-repeat="thing in things">
      <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
    </ul>
  </div>

</div>

<footer>
</footer>
