<div ng-include="'components/navbar/navbar.html'"></div>

<!--
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>CoWash</h1>
  </div>
</header>
-->

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ui-gmap-google-map 
        center='map.center' 
        options='mapOptions'
        zoom='map.zoom'>
        <!-- map markers -->
        <ui-gmap-marker
          ng-repeat='marker in markers'
          coords="marker.coords" 
          options="marker.options" 
          click='marker.click'
          events="marker.events" 
          idkey="marker.id">
        </ui-gmap-marker>
    
        <ui-gmap-map-control 
          template="app/main/map-bottom-controls.html" 
          position="bottom-right" 
          controller="MainCtrl" 
          index="-1"></ui-gmap-map-control>

        <ui-gmap-map-control 
          template="app/main/map-top-controls.html" 
          position="bottom-center" 
          controller="MainCtrl" 
          index="-1"></ui-gmap-map-control>
      </ui-gmap-google-map>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <ul 
        class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" 
        ng-repeat="thing in things">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

</div>

<footer>
</footer>
